@import './variables.scss';

.sign-in {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 40px;

    @media screen and (max-width: 991px) {
        flex-direction: column;
    }

}

.purple-robot {
    height: 70%;
    width: 80%;

    @media screen and (max-width: 991px) {
        height: 30%;
        width: 40%;
    }

}

.form-container {
    // border: solid black 1px;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $gray;
    border-radius: 15px 50px 30px 5px;
    box-shadow: 10px 5px 5px $orange;
    
    .form-title {
        justify-content: center;
        display: flex;
        padding-top: 25px;
        height: 40%;
        flex-direction: column;

        h3 {
            text-align: center;
            font-family: $main-font;
            font-size: 35px;
            color: $purple;
        }
    
        img {
            height: 40%;

            @media screen and (max-width: 991px) {
                height: 80px;
            }
        }

    }
}

.session-form {
    display: flex;
    flex-direction: column;
    

    form {
        display: flex;
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
        

        input {
            margin: 0 0 10px 0;
            font-size: 20px;
            border-radius: 15px 50px 30px 5px;
            border: 3px solid $orange;
        }

        .submit-right {
            input {
                width: 40%;
                height: 100%;
                float: right;

            }
        }
    }
}

.session-error {

    font-family: $secondary-font;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}