$main-font: 'Lato', sans-serif;
$secondary-font: 'Merriweather Sans', sans-serif;

$gray: rgb(243, 243, 243);
$black: rgb(22, 1, 35);
$orange: rgb(255, 139, 0);
$pink: rgb(252, 61, 128);
$purple: rgb(134, 87, 243);
